<!DOCTYPE html>
<html>

<head>
    <%- include('./ejs/head') %>
        <!-- 1 -->
</head>

<body>
    <%- include('./ejs/nav') %>
        <!-- 2 -->

        <div class="contact contact-index">
            <h2>Index</h2>
            <ul>
            </ul>
        </div>
</body>

</html>